@import url("https://fonts.googleapis.com/css?family=Anton|Gugi|Lato|Roboto|Sofia&display=swap");

:root {
  --primaryColor: #2be8ee;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.08rem;
  --mainTransition: all 0.3s linear;
  --textColor: #0bbbf0;
  --roboto: "Roboto", sans-serif;
  --gugi: "Gugi", cursive;
  --sofia: "Sofia", cursive;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: sans-serif;
}

.primary-color {
  color: var(--primaryColor);
}

.bg-primary-color {
  background-color: var(--primaryColor) !important;
}

.text-color {
  color: var(--textColor);
}

.font-roboto {
  font-family: var(--roboto);
}

.lightblue {
  color: lightblue;
}

/* header */
header {
  background-color: var(--primaryColor);
  font-family: var(--roboto);
}

header.site-title {
  font-family: var(--gugi);
}

.hotline a,
.header-links a {
  font-size: 0.9em;
  text-decoration: none;
  color: var(--mainBlack);
}

.px-2,
.px-1 {
  display: inline-block;
  padding: 0.7rem 1.3rem 0.7rem;
  border: 2px solid var(--mainWhite);
  border-radius: 2rem;
  line-height: 1;
  margin: 0 0.2rem;
  transition: 0.3s;
  text-transform: uppercase;
}
.px-2,
.px-1:hover {
  background-color: var(--mainWhite);
  color: var(--mainBlack);
}
.px-1,
.px-2:hover {
  background-color: transparent;
  color: var(--mainWhite);
}
/* navbar */
.navbar-nav {
  padding: 0.8em 0em;
}

.nav-link {
  font-weight: bold;
}
/* .navbar-nav .nav-link a {
  font-size: 0.9em;
  color: var(--mainBlack) !important;
  padding: 0 0.8rem;
  letter-spacing: var(--mainSpacing);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s;
} */

.navbar-nav .home {
  margin-left: 6.5rem;
}
.navbar-nav .nav-item .nav-link {
  padding: 0 1.5em;
}

.nav-item {
  position: relative;
}

.nav-item > a {
  padding: 0 0.8rem;
  letter-spacing: var(--mainSpacing);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s;
}
.nav-item:hover a {
  transform: scale(1.1);
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 1rem;
  width: 10rem;
  transform: translateY(10px);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  z-index: 1;
}

.dropdown ul {
  position: relative;
}
.dropdown-link a {
  display: flex;
  background-color: var(--mainWhite);
  color: var(--mainBlack);
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s;
}

.dropdown-link:hover a {
  background-color: var(--primaryColor);
  color: var(--mainWhite);
}
.dropdown-link:not(:nth-last-child(2)) {
  border-bottom: 1px solid var(--mainWhite);
}
/* .arrow {
  position: absolute;
  width: 11px;
  height: 11px;
  top: -5.5px;
  left: 32px;
  background-color: var(--mainWhite);
  transform: rotate(45deg);
  cursor: pointer;
  transition: 0.3s;
  z-index: -1;
} */

.dropdown-link:first-child:hover ~ .arrow {
  background-color: var(--primaryColor);
}

.nav-item:hover .dropdown {
  transform: translate(0, 0);
  opacity: 1;
  pointer-events: auto;
}

.navbar-nav .cart-icon {
  margin-right: 6.5em !important;
}
.nav-icon,
.fa-search {
  font-size: 1.5rem;
}
.cart-items {
  position: absolute;
  top: -5px;
  right: 0px;
  background: var(--primaryColor);
  padding: 0px 3px;
  border-radius: 30%;
  color: var(--mainWhite);
}

/* slider one */
.site-slider {
  position: relative;
}

.position-top {
  position: absolute;
  top: 35%;
}

.site-slider .slider-btn .prev,
.site-slider .slider-btn .next {
  background-color: var(--primaryColor);
  padding: 1rem 1.5rem;
  border-radius: 10rem;
  color: var(--mainWhite);
  margin: 0 1rem;
  transition: opacity 1s ease;
}

.site-slider:hover .slider-btn .prev,
.site-slider:hover .slider-btn .next {
  opacity: 1;
}
.right-0 {
  right: 0;
}

/* slick dots */
.slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;
  position: absolute;
  bottom: 0;
  right: 50%;
}

.slick-dots li {
  margin: 0 0.6rem;
}

.slick-dots button {
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  padding: 0;
  border: none;
  background-color: var(--mainWhite);
  text-indent: -99999px;
  border-radius: 100%;
}

.slick-dots li .slick-active button {
  transform: scale(2.5);
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.205);
}

/* second slider */
.site-slider-two {
  position: relative;
  height: 30%;
}

.site-slider-two .product {
  height: 25rem;
  position: relative;
  overflow: hidden;
}
.site-slider-two .product img {
  width: 90%;
  margin: auto;
}

.site-btn.btn-span {
  padding: 0.8rem 1.9rem;
  border-radius: 4rem;
  border: 1px solid var(--mainBlack);
  background-color: var(--mainWhite);
  color: var(--mainBlack);
}

.slider-two .slick-track .product:hover span {
  background-color: var(--primaryColor);
}

/* --------------- Products ---------------- */

.section-title h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 5rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing) !important;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
  color: var(--textColor);
}
.products-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}
.img-container {
  position: relative;
  overflow: hidden;
}
.bag-btn {
  position: absolute;
  top: 70%;
  right: 0;
  background: var(--primaryColor);
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  transition: var(--mainTransition);
  transform: translateX(101%);
  cursor: pointer;
}
.bag-btn:hover {
  color: var(--mainWhite);
}
.fa-shopping-cart {
  margin-right: 0.5rem;
}
.img-container:hover .bag-btn {
  transform: translateX(0);
}
.product-img {
  display: block;
  width: 100%;
  min-height: 12rem;
  transition: var(--mainTransition);
}
.img-container:hover .product-img {
  opacity: 0.5;
}

.product h3 {
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 1rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}

.product h4 {
  margin-top: 0.7rem;
  letter-spacing: var(--mainSpacing);
  color: var(--textColor);
  text-align: center;
  font-weight: bold;
}
/* --------------- Cart ---------------- */
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: rgb(240, 157, 81, 0.5);
  z-index: 2;
  visibility: hidden;
}
.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background: rgb(231, 226, 221);
  padding: 1.5rem;
  transition: var(--mainTransition);
  transform: translateX(100%);
}
.showCart {
  transform: translateX(0);
}
.transparentBcg {
  visibility: visible;
}
@media screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    min-width: 450px;
  }
}

.close-cart {
  font-size: 1.7rem;
  cursor: pointer;
}
.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
  font-weight: bold;
}
/*---------- Cart Item -------------------- */
.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}
.cart-item img {
  width: 75px;
  height: 75px;
}
.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
}
.item-amount {
  text-align: center;
}
.remove-item {
  color: grey;
  cursor: pointer;
}
.fa-chevron-up,
.fa-chevron-down {
  color: var(--textColor);
  cursor: pointer;
}
/*---------- End of Cart Item -------------------- */

.cart-footer {
  margin-top: 2rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}
.cart-footer h3 {
  /* text-transform: capitalize; */
  margin-bottom: 1rem;
}
.cart-footer button {
  padding: 5px 10px;
  text-transform: uppercase;
}
/* --------------- End of Cart ---------------- */
